<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="#">Market Ürün ekle</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="/admin/admin/index">Admin <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item active"><a class="nav-link" href="/product/index">Product Index <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item active"><a class="nav-link" href="/account/login"> Kullanıcı Girişi <span class="sr-only">(current)</span></a></li>

                    <li class="btn-group dropleft" >
                        <a class="btn btn-primary dropdown-toggle" style="color:black;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sepet
                        </a>
                        <ul class="dropdown-menu">
                            <li style="width:350px">
                                @await Component.InvokeAsync("CartSummary")
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                @await Component.InvokeAsync("CategoryList")
            </div>
            <div class="col-lg-10 mx-auto">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-info" role="alert">@TempData["message"]</div>
                }

                @RenderBody()
            </div>
        </div>
    </div>
        @*<footer class=" footer text-muted container-fluid text-right">
            <div class="container my-xl-4">

                &copy; 2021 - UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Hakkımızda</a>
            </div>
        </footer>*@

        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
