@using System.Threading.Tasks
@model UI.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<form asp-controller="Account" asp-action="Login" method="post" class="list-group-horizontal" role="form">
    <div style="margin:20px;">
        <label style="color:forestgreen; font-size:24px; font-weight:bold;">Kullanıcı Girişi</label>

    </div>
    <hr class="container-fluid" />
    <div class="input-group" style="margin:20px;">
        <input asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="input-group" style="margin:20px;">
        <input asp-for="Password" class="form-control" placeholder="Şifre" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="input-group" style="margin:20px;">
        <div class="custom-checkbox">
            <label>
                <input asp-for="RememberMe" />Hatırla
            </label>
        </div>
    </div>
    <div style="margin:20px;">
        <input type="submit" class="btn btn-success" value="Giriş Yap" />
        <a class="btn btn-outline-success" asp-controller="Account" asp-action="Register" >Kayıt Ol</a>
    </div>
</form>
